.a-brand-logo{
  display: flex !important;
  flex-direction: column;
  color: #1f4fe5 !important;
}

.a-brand-logo small{
  margin-top: -40px;
}

.color-deafult{
  color: #1f4fe5 !important;
}

.icon-social{
  width: auto;
  height: 30px;
  margin-top: 20px;
  opacity: 0.6;
}

.button-click-here{
  border: 2px solid #23395B;
  font-size: 1.7rem;
  font-weight: bold;
  color: #23395B;
  padding: 10px 15px;
}