body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@font-face {
  font-family: 'sifonn';
  src:  url('sifonn_pro-webfont.woff2') format('woff2'),
        url('sifonn_pro-webfont.woff') format('woff');
}

.font-sifonn{
  font-family: 'sifonn';
}

.responsive-img{
  width: 90%;
  margin: auto;
}

.font-size-1{
  font-size: 1.3em;
}

.spacing-v{
  margin-top: 50px;
  margin-bottom: 50px;
}